body {
    margin: 0;
    background:linear-gradient(#a2d2ff, #a8dadc);
}

.container {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
}

.team{
    display: grid;
    flex-direction: row;
    text-align: center;
    margin:50px;
    font-family: "Press Start 2P", sans-serif;
}

.score-board{
    background-color: black;
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    font-family: "Press Start 2P", sans-serif;
}

.score-buttons{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     padding: 0;
     margin: 10px 0px;
}

button{  
        font-family: "Press Start 2P", sans-serif;
        font-size: 80%;
        background-color: transparent;
        
}

.score{
 font-size: 50px;
 padding: 0px;  
}